*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url(../assets/images/bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    height: 4rem;
    width: 5rem;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.right_hero-page{
    margin-left: 8%;
    margin-top: 20%;
}

.right_hero-page h1{
    font-size: 4rem;
    color: #212121;
    margin-bottom: 10px;
}

.right_hero-page h1 span{
    color: transparent;
    background-image: url(../assets/images/name._gif.gif);
    background-position: center;
    -webkit-background-clip: text;
    font-size: 7rem;
}

.right_hero-page p{
    color: #4436fe;
    margin: 5px 0px 10px;
    font-size: 1.4rem;
    font-weight: 600;

}

.left_hero-page{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 5%;
    right: 10%; 
}

.left_hero-page img{
    height: 100%;
    position: absolute;
    left: 70%;
    bottom: 10%;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.left_hero-page:hover .shape{
    bottom: 40px;
}

.left_hero-page:hover .owner{
    left: 65%;
    bottom: 40px;
}

section {
    width: 100%;
    height: 50vh;
    padding: 10px;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1s linear forwards;   
}

@keyframes moveup {

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.bio {
    text-align: center;
    font-size: 1.2rem;
    color: #212121;
}

section h1{
    margin: 10px 10px 0 0;
}

.line {
    width: 260px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.bio p{
    width: 90%;
    text-align: justify;
    margin: 20px 60px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #333
}

.project {
    text-align: center;
    font-size: 1.2rem;
    color: #212121;
}

.my-project {
    background-image: url(./images/section-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.project p{
    width: 90%;
    text-align: justify;
    margin: 20px 60px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #ffd700
}